.navbar {
    background-color: #343a40; 
}

.navbar-nav .nav-link {
    color: #ffffff; 
}

.navbar-nav .nav-link:hover {
    color: #28a745; 
}


#inicio {
    background-color: #0f71d3; 
    padding: 50px 0; 
}

.section-title {
    font-size: 36px; 
}


#servicios {
    background-color: #f11414; 
    padding: 50px 0; 
}

.col-md-4 {
    margin-bottom: 20px; 
}


footer {
    background-color: #343a40; 
    color: hsl(138, 78%, 42%); 
    text-align: center; 
    padding: 20px 0; 
}


.servicio {
    border: 1px solid #cccccc; /* Agrega bordes a los cuadros de servicio */
    padding: 20px; /* Agrega espaciado interno a los cuadros de servicio */
}


.container {
    text-align: center; /* Alinea el texto en el área de contacto al centro */
}
